body{
  background-color: #ffffff;
  height: 100vh;
}
.navbar{
  background-color: rgba(4, 0, 255, 0.514);
  position: fixed;
  border-radius: 50px;
  margin: 10px;
  z-index: 10;
  width: calc(100% - 20px);
}
.hero img{
  box-shadow: none;
}
.hero{
  background-color: transparent;
}
.carosel{
  width: 80%;
  margin-left: 50%;
  transform: translate(-50%);
}
.carosel img{
  width: 100%;
  max-height: 500px;
}
footer
{
  background-color: rgba(4, 0, 255, 0.514);
  margin-top: 50px;
  padding: 10px;
}
.hero{

}
.hero div:first-child{
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 25px;
}

.hero button{
  background-color: rgb(255, 255, 81);
  border-color: black;
  color: black;
}
.hero button:hover{
  background-color: rgb(255, 255, 81);
  border-color: black;

}
.App::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('https://static.vecteezy.com/system/resources/previews/019/646/687/original/branch-with-leaves-ornament-png.png');
}
.carosel h1{
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #86b049;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.274);
}
.licoes-meio{
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.licoes-meio p{
  font-size: 20px;
}
.licoes-meio h1{
  color: #11998e;
  font-size: 25px;
  font-weight: 600;
}
.licoes-meio a{
  color: #38ef7d;
  font-size: 25px;
  text-decoration: underline;
  font-weight: 600;
}
.divisão div{
  margin: 10px;
}
.licoes h1{
  color: #11998e;
  font-size: 25px;
  font-weight: 600;
}
.licoes h1:first-child{
  color: black;
  font-size: 3rem;
}